# Virtual environment
venv/
*.pyc
__pycache__/

# Logs
logs/
logs.txt

# Model files
models/*.h5

# Config files
*.cfg
*.weights

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset
dataset/

# Python bytecode
*.py[cod]
*$py.class
